/*Style for the web applicaton header */


/*Style for the web applicaton basemap */
#mapid { height: 400px; }

/*Styling for home button  */
#button-home {
    position: absolute;
    top: 20%;
    left: 1%;
    width: 100%;
    z-index: 1000;
}

#home_id {
  font-size: 17px;
}

/*Styling for user location button */
#button-location {
    position: absolute;
    top: 30%;
    left: 1%;
    width: 100%;
    z-index: 1000;
}

#location_id {
  font-size: 24px;
}
